body {
    background-color: #F2F2F2; /* Fondo claro */
    color: #333; /* Texto oscuro para buena legibilidad */
    font-family: 'Arial', sans-serif; /* Fuente moderna */
}

header {
    background-color: #D9534F; /* Encabezado en rojo vibrante */
    color: white; /* Texto blanco */
    padding: 20px; /* Espaciado */
    text-align: center; /* Centrar texto */
}

h1, h2, h3 {
    color: #D9534F; /* Encabezados en rojo vibrante */
}

button {
    background-color: #5BC0DE; /* Botón azul claro */
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transición suave */
}

button:hover {
    background-color: #D9534F; /* Color al pasar el mouse */
}

.card {
    background-color: white; /* Fondo blanco para las tarjetas */
    border: 1px solid #E6E6E6; /* Borde sutil */
    border-radius: 15px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra suave */
    transition: transform 0.2s; /* Transición suave */
}

.card:hover {
    transform: translateY(-5px); /* Efecto al pasar el mouse */
}

.footer {
    background-color: #5CB85C; /* Fondo verde para el pie de página */
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative; /* Posición relativa */
    bottom: 0; /* Al fondo de la página */
    width: 100%; /* Ancho completo */
}
#lista-carrito .list-group-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px 20px;
}

#lista-carrito .list-group-item .cantidad {
    font-weight: bold;
    color: #D9534F; /* Rojo vibrante para la cantidad */
}
